/* #body {
  background: var(--outgoing-chat-bg);
} */
.chat-container {
  max-height: 100vh;
  padding-bottom: 140px;
  overflow: auto;
}
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.chat-container .chat {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color)
}
.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
  border: 1px solid var(--outgoing-chat-border);
}
.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}
.chat .chat-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
/* Styles to make the textarea look like a <p> element */
.message {
  width: 100%; /* Take the full width of the container */
  font-size: 1.05rem;
  color: var(--text-color);
  background: transparent; /* Remove background color */
}

/* Styles for the editable textarea */
.editable-textarea {
  width: 100%; /* Take the full width of the container */
}

.editable-textarea textarea {
  width: 100%; /* Take the full width of the container */
  height: auto; /* Adjust height automatically based on content */
  border: none; /* Remove borders */
  resize: none; /* Disable resizing */
  font-size: 1.05rem;
  color: var(--text-color);
  background: transparent; /* Remove background color */
  outline: none; /* Remove outline */
}

.chat .chat-details textarea {
  width: 160vh;
  height: 80vh;
  border: none;
  resize: none;
  border-radius: 4px;
  padding: 0 50px 0 25px;
  white-space: pre-wrap;
  font-size: 1.05rem;
  color: var(--text-color);
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}
.chat .chat-content span {
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}
.chat:hover .chat-content span {
  visibility: visible;
}
.chat .chat-details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}
.chat .chat-details img {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  object-fit: cover;
  align-self: flex-start;
}
.chat .chat-details p {
  padding: 0 50px 0 25px;
  white-space: pre-wrap;
  font-size: 1.05rem;
}
span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}
#options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}
#options button {
  margin-left: 20px;
}
#aiRes {
  margin-bottom: 2vh;
}

.typing-animation {
  display: inline-flex;
  padding-left: 25px;
}
.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  opacity: 0.7;
  margin: 0 3px;
  border-radius: 50%;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
@keyframes animateDots {
  0%, 44% {
    transform: translateY(0px);
  }
  22% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}

.typing-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px;
  background: var(--outgoing-chat-bg);
  /* border: 1px solid var(--incoming-chat-border); */
}
.typing-container .typing-content {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: center;
}
.typing-content .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  width: 100%;
  height: 55px;
  border: none;
  resize: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 15px 45px 15px 20px;
  color: var(--text-color);
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}
.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ span {
  visibility: visible;
}
.typing-content span {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}


.typing-textarea button {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ button {
  visibility: visible;
}
.typing-content button {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.typing-controls {
  display: flex;
  
}
.typing-controls span {
  margin: 7px;
  font-size: 1.4rem;
  border-radius: 4px;
  background: var(--incoming-chat-bg);
  border: 1px solid var(--incoming-chat-border);
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}
mat-sidenav-content {
  background: var(--outgoing-chat-bg);
  height: 100vh;
}
mat-sidenav {
  background: rgb(12, 13, 18);
  color: white;
  width: 25%;
}
#side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#side p {
  border: 1px solid var(--incoming-chat-border);
  border-radius: 8px;
  padding: 5px 100px 5px 5px;
  cursor: pointer;
}
#toggle1 {
  cursor: pointer;
  color: white;
  border: 0;
  background: rgba(0, 0, 0, 0);
}
#toggle2 {
  cursor: pointer;
  color: white;
  border: 0;
  background: rgba(0, 0, 0, 0);
  /* border: 1px solid var(--incoming-chat-border);
  border-radius: 4px; */
  padding: 3px 5px 3px 5px;
}



#sideNavbar {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:stretch;
  width: 100%;

}
:where(#chatHistory)::-webkit-scrollbar {
  width: 6px;
}
/* :where(#chatHistory)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
} */
:where(#chatHistory)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
#chatHistory ul {
  height: 100%;
  margin-left: -7px;
}
#chatHistory li {
  cursor: pointer;
  padding: 5px;
  padding-right: 10px;
  height: 35px;
  border: 1px solid var(--incoming-chat-border);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 5px;
  background: rgb(31, 32, 35);
}
#googleBtn {
  height: 14vh;
  width: 23%;
  border: 2px solid var(--text-color);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  position: fixed;
  top: 85%;
}
#loginBtn {
  position: absolute;
  top: 33%;
  left: 13%;
  background: var(--outgoing-chat-bg);
  color: var(--text-color);
}
mat-sidenav-container mat-sidenav #chatHistory {
  margin-top: 5px;
  height: 69vh;
  overflow: scroll;
  scroll-behavior: smooth;
  /* border: 1px solid var(--incoming-chat-border); */
}

#user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
#user:hover {
  background: var(--incoming-chat-bg);
}
#user img {
  margin-top: 5px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-start;
}
#user p {
  width: 65%;
  padding-right: 10px;
  overflow: hidden;
  margin-left: 15px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: -25px;
  left: 0px;
  display: none;
  width: 100%;
  background: var(--icon-color);
  color: var(--text-color);
}

.dropdown-content {
  display: block;
  cursor: pointer;
}

.inv {
  display: none;
}

/* form */
.wrapper {	
	margin-top: 10px;
  margin-bottom: 10px;/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: var(--icon-color);
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading {
	  margin-bottom: 30px;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
    box-sizing: border-box;

		&:focus {
		  z-index: 2;
		}
	}
}
.form-signin .x {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
input {
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #00695C;
}

.bttn {
  margin-top: 25px;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: var(--incoming-chat-bg);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.bttn:hover {
  background: var(--incoming-chat-bg);
  color: white;
}

/* form meta */
#dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow: scroll;
}
:where(#dialog-box)::-webkit-scrollbar {
  width: 6px;
}
:where(#dialog-box)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}

.dialog-box-header {
  text-align: center;
  padding: 10px;
}

.dialog-box-body {
  padding: 10px;
}

.dialog-box-footer {
  text-align: center;
  padding: 10px;
}

.dialog-box-close {
  cursor: pointer;
}

.open-dialog-box {
  cursor: pointer;
}

.open-dialog-box:hover {
  background-color: #ccc;
}